
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text: #e7e8f1a0;
  --accent: #02fcfc;
}

body {
  min-height: 100vh;
  padding: 3% 2%;
  display: flex;
  flex-direction: column;
}

p::first-letter {
  margin-left: 3rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

h5 {
  color: #ffffffe9;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

p {
  color: var(--text);
  font-size: 1.1rem;
}

footer {
  color: var(--accent);
}

@media screen and (min-width: 768px) {
  body {
    padding: 4% 7%;
  }
}